#ravens{
    background-color:slateblue;
}

#smallpic {
    width: 200px;
    height: 100px;
}

#couldbetrue {
    color: chartreuse;
}
#maybetrue {
    color:blueviolet;
}
#perhapstrue {
    color:crimson;
}